.bg-landing {
	background: linear-gradient(rgba(11,4,38,0.55), rgba(11,4,38,0.55)), url('/fon2.jpg') center/cover no-repeat;
    position: relative;
    padding: 10% auto;
}

@media (max-width: 720px) {
  .corner-btn.left, .corner-btn.right { top: 12px }
  .corner-btn.left { left: 10px }
  .corner-btn.right { right: 10px }
}

.bg-auth {
	background: linear-gradient(rgba(11,4,38,0.6), rgba(11,4,38,0.6)), url('/fon3.jpg') center/cover no-repeat;
}

.bg-landing .card,
.bg-auth .card {
	background: linear-gradient(180deg, rgba(255,255,255,0.02), rgba(255,255,255,0.01)), var(--card);
    
}

